[submodule "felipecarocadimabe/invernada-test"]
	path = felipecarocadimabe/invernada-test
	url = git@github.com:felipecarocadimabe/invernada-test.git
	branch = master

[submodule "felipecarocadimabe/openfactura"]
	path = felipecarocadimabe/openfactura
	url = git@github.com:felipecarocadimabe/invernada-test.git
	branch = openfactura-integration

[submodule "felipecarocadimabe/account-payment-editable"]
	path = felipecarocadimabe/account-payment-editable
	url = git@github.com:felipecarocadimabe/invernada-test.git
	branch = account-payment-editable
