[submodule "felipecarocadimabe/invernada-test"]
	path = felipecarocadimabe/invernada-test
	url = git@github.com:felipecarocadimabe/invernada-test.git
	branch = master

[submodule "felipecarocadimabe/openfactura"]
	path = felipecarocadimabe/openfactura
	url = git@github.com:felipecarocadimabe/invernada-test.git
	branch = openfactura-integration

[submodule "felipecarocadimabe/account-payment-editable"]
	path = felipecarocadimabe/account-payment-editable
	url = git@github.com:felipecarocadimabe/invernada-test.git
	branch = account-payment-editable

[submodule "leonardodimabe/invernada-order-export"]
	path = leonardodimabe/invernada-order-export
	url = git@github.com:leonardodimabe/invernada-order-export.git
	branch = master

[submodule "leonardodimabe/invernada-order-export-qa"]
	path = leonardodimabe/invernada-order-export-qa
	url = git@github.com:leonardodimabe/invernada-order-export.git
	branch = order_export_qa
